[Desktop Entry]
Name=GnomeBaker
Comment=GnomeBaker
GenericName=CD Writer
Exec=gnomebaker
Icon=/usr/local/share/gnomebaker/gnomebaker-48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Utility;
StartupNotify=true
